{% load static %}
<html lang="ja">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">

    <style type="text/css">
        td.ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            max-width: 0;
        }
    </style>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    テスト太郎
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        アカウント設定
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        ログアウト
                    </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="" class="brand-link">
            <span class="brand-text font-weight-light">社内システム</span>
        </a>
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column"
                    data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>トップ</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-building"></i>
                            <p>社内メニュー<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'office_info:staff_list' %}" class="nav-link">
                                    <i class="nav-icon fas fa-user"></i>
                                    <p>社員一覧</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'office_info:departmental_list' %}" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>部署</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'office_info:skill_all_list' %}" class="nav-link">
                                    <i class="nav-icon fas fa-level-up-alt"></i>
                                    <p>スキル</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-project-diagram"></i>
                            <p>プロジェクトメニュー<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'office_info:process_list' %}" class="nav-link">
                                    <i class="nav-icon fas fa-tasks"></i>
                                    <p>工程</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'office_info:dataset_all_list' %}" class="nav-link">
                                    <i class="nav-icon fas fa-tasks"></i>
                                    <p>データセット</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'office_info:task_all_list' %}" class="nav-link">
                                    <i class="nav-icon fas fa-tasks"></i>
                                    <p>タスク</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="nav-icon fas fa-stream"></i>
                                    <p>プロジェクト</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2020 </strong> All rights reserved.
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>
</div>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>
<script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $.extend($.fn.dataTable.defaults, {
            language: {
                url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
            }
        });

        $('#departmental_table').DataTable({
            "responsive": true,
            "autoWidth": false,
            "ordering": false,
            "columnDefs": [
                {targets: 0, width: "5%"},
                {targets: 2, width: "20%"},
                {targets: 3, width: "20%"},
            ]
        });

        $('#skill_table').DataTable({
            "responsive": true,
            "autoWidth": false,
            "ordering": false,
            "columnDefs": [
                {targets: 0, width: "5%"},
                {targets: 3, width: "20%"},
                {targets: 4, width: "15%"},
            ]
        });

        $('#process_table').DataTable({
            "responsive": true,
            "autoWidth": false,
            "ordering": false,
            "columnDefs": [
                {targets: 0, width: "5%"},
                {targets: 2, width: "5%"},
                {targets: 3, width: "20%"},
                {targets: 4, width: "20%"},
            ]
        });

        $('#dataset_table').DataTable({
            "responsive": true,
            "autoWidth": false,
            "ordering": false,
            "columnDefs": [
                {targets: 0, width: "5%"},
                {targets: 3, width: "5%"},
                {targets: 4, width: "20%"},
                {targets: 5, width: "20%"},
            ]
        });

        $('#task_table').DataTable({
            "responsive": true,
            "autoWidth": false,
            "ordering": false,
            "columnDefs": [
                {targets: 0, width: "5%"},
                {targets: 4, width: "5%"},
                {targets: 5, width: "5%"},
                {targets: 6, width: "20%"},
                {targets: 7, width: "20%"},
            ]
        });

        $('#table1').DataTable({
            "responsive": true,
            "autoWidth": false,
            "ordering": false,
            "columnDefs": [
                {targets: 0, width: "5%"}
            ]
        });

        $('#reservationdate').datetimepicker({
            format: 'L'
        });

        {% if departments %}
            {% for departmental in departments %}

                $('.nav-tabs a#departmental-{{ departmental.id }}-tab')
                    .on('shown.bs.tab', function (event) {

                        var table_tag = '';

                        table_tag += "<br />"
                            + "<table id=\"datatable{{ departmental.id }}\""
                            + "class=\"table table-bordered table-striped\">"
                            + "<thead>"
                            + "<tr>"
                            + "<th>スキル名</th>"
                            + "<th>評価</th>"
                            + "</tr>"
                            + "</thead>"
                            + "<tbody>";

                        {% for skill in skills %}
                            {% if departmental.id == skill.departmental_id %}

                                table_tag += "<tr>"
                                    + "<td class=\"align-middle\">{{ skill.name }}</td>"
                                    + "<td class=\"align-middle\">"
                                    + "<input type=\"number\" class=\"form-control\" "
                                    + "step=\"1\" \"name=\"score\" min=\"0\" max=\"100\">"
                                    + "</td>"
                                    + "</tr>";

                            {% endif %}
                        {% endfor %}

                        table_tag += "</tbody>"
                            + "</table>";

                        $('#departmental-{{ departmental.id }}').html(table_tag);
                        $("#datatable{{ departmental.id }}").DataTable({
                            "responsive": true,
                            "autoWidth": false,
                            "ordering": false,
                            "columnDefs": [
                                {targets: 1, width: "10%"}
                            ]
                        });

                    });

            {% endfor %}
        {% endif %}

        $('#modal-departmental-upd').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var remark = button.data('remark');
            var modal = $(this);

            var url_mask = "{% url 'office_info:departmental_update' 0 %}".replace(/0/, id);

            modal.find('.modal-content form#upd').attr('action', url_mask);
            modal.find('.modal-body input#name').val(name);
            modal.find('.modal-body textarea#remark').text(remark);
        });

        $('#modal-departmental-ref').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var name = button.data('name');
            var remark = button.data('remark');

            var modal = $(this);

            modal.find('.modal-body td#name').text(name);
            modal.find('.modal-body td#remark').html(remark);
        });

        $('#modal-departmental-del').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);

            var url_mask = "{% url 'office_info:departmental_delete' 0 %}".replace(/0/, id);
            var text = name + "を削除しますか？";

            modal.find('.modal-content a#del').attr('href', url_mask);
            modal.find('.modal-body p').html(text);
        });


        $('#modal-skill-upd').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var departmental_id = button.data('departmental_id');
            var id = button.data('id');
            var name = button.data('name');
            var remark = button.data('remark');

            var modal = $(this);

            var url_mask = "{% url 'office_info:skill_update' 99999 0 %}"
                .replace(/99999/, departmental_id)
                .replace(/0/, id);

            modal.find('.modal-content form#upd').attr('action', url_mask);
            modal.find('.modal-body input#name').val(name);
            modal.find('.modal-body textarea#remark').text(remark);
        });

        $('#modal-skill-ref').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var name = button.data('name');
            var remark = button.data('remark');

            var modal = $(this);

            modal.find('.modal-body td#name').text(name);
            modal.find('.modal-body td#remark').html(remark);
        });


        $('#modal-process-upd').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var priority = button.data('priority');
            var remark = button.data('remark');

            var modal = $(this);

            var url_mask = "{% url 'office_info:process_update' 0 %}".replace(/0/, id);

            modal.find('.modal-content form#upd').attr('action', url_mask);
            modal.find('.modal-body input#name').val(name);
            modal.find('.modal-body input#priority').val(priority);
            modal.find('.modal-body textarea#remark').text(remark);
        });

        $('#modal-process-ref').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var name = button.data('name');
            var priority = button.data('priority');
            var remark = button.data('remark');

            var modal = $(this);

            modal.find('.modal-body td#name').text(name);
            modal.find('.modal-body td#priority').text(priority);
            modal.find('.modal-body td#remark').html(remark);
        });


        $('#modal-dataset-upd').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var process_id = button.data('process_id');
            var id = button.data('id');
            var name = button.data('name');
            var priority = button.data('priority');
            var remark = button.data('remark');

            var modal = $(this);

            var url_mask = "{% url 'office_info:dataset_update' 99999 0 %}"
                .replace(/99999/, process_id)
                .replace(/0/, id);

            modal.find('.modal-content form#upd').attr('action', url_mask);
            modal.find('.modal-body input#name').val(name);
            modal.find('.modal-body input#priority').val(priority);
            modal.find('.modal-body textarea#remark').text(remark);
        });

        $('#modal-dataset-ref').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var name = button.data('name');
            var priority = button.data('priority');
            var remark = button.data('remark');

            var modal = $(this);

            modal.find('.modal-body td#name').text(name);
            modal.find('.modal-body td#priority').text(priority);
            modal.find('.modal-body td#remark').html(remark);
        });


        $('#modal-task-upd').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var process_id = button.data('process_id');
            var dataset_id = button.data('dataset_id');
            var id = button.data('id');
            var name = button.data('name');
            var priority = button.data('priority');
            var cost = button.data('cost');
            var remark = button.data('remark');

            var modal = $(this);

            var url_mask = "{% url 'office_info:task_update' 88888 99999 0 %}"
                .replace(/88888/, process_id)
                .replace(/99999/, dataset_id)
                .replace(/0/, id);

            modal.find('.modal-content form#upd').attr('action', url_mask);
            modal.find('.modal-body input#name').val(name);
            modal.find('.modal-body input#priority').val(priority);
            modal.find('.modal-body input#cost').val(cost);
            modal.find('.modal-body textarea#remark').text(remark);
        });

        $('#modal-task-ref').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var name = button.data('name');
            var priority = button.data('priority');
            var cost = button.data('cost');
            var remark = button.data('remark');

            var modal = $(this);

            modal.find('.modal-body td#name').text(name);
            modal.find('.modal-body td#priority').text(priority);
            modal.find('.modal-body td#cost').text(cost);
            modal.find('.modal-body td#remark').html(remark);
        });

        $('#modal-skill-list').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var process_id = button.data('process_id');
            var dataset_id = button.data('dataset_id');
            var id = button.data('id');

            var modal = $(this);

            var url_mask = "{% url 'office_info:task_skill_create_update' 88888 99999 0 %}"
                .replace(/88888/, process_id)
                .replace(/99999/, dataset_id)
                .replace(/0/, id);

            var table_tag = '';
            var hidden_tag = '';
            var array = [];


            table_tag += "<table id=\"skill_table\" class=\"table table-bordered table-striped dt-responsive nowrap \">"
                + "<thead>"
                + "<tr>"
                + "<th>スキル名</th>"
                + "<th>割合</th>"
                + "</tr>"
                + "</thead>"
                + "<tbody>";

            {% for skill in task_skills %}

                if ("{{ skill.task_id }}" === String(id)) {

                    table_tag += "<tr>"
                        + "<td class=\"align-middle\">{{ skill.skill_name }}</td>"
                        + "<td class=\"align-middle\">"
                        + "<div class=\"input-group\">"
                        + "<input type=\"number\" class=\"form-control\" step=\"1\" name=\"ratio\" "
                        + "value=\"{{ skill.ratio }}\" min=\"0\" max=\"100\">"
                        + "<div class=\"input-group-append\">"
                        + "<span class=\"input-group-text\">％</span>"
                        + "</div>"
                        + "</div>"
                        + "</td>"
                        + "<input type=\"hidden\" name=\"id\" id=\"id\" value=\"{{ skill.task_skill_id }}\">"
                        + "<input type=\"hidden\" name=\"name\" id=\"name\" value=\"{{ skill.skill_name }}\">"
                        + "</tr>";

                    array.push("{{ skill.skill_name }}");

                }

            {% endfor %}

            {% for skill in skills %}

                if (!array.includes("{{ skill.skill_name }}")) {

                    table_tag += "<tr>"
                        + "<td class=\"align-middle\">{{ skill.skill_name }}</td>"
                        + "<td class=\"align-middle\">"
                        + "<div class=\"input-group\">"
                        + "<input type=\"number\" class=\"form-control\" step=\"1\" name=\"ratio\" "
                        + "value=\"0\" min=\"0\" max=\"100\">"
                        + "<div class=\"input-group-append\">"
                        + "<span class=\"input-group-text\">％</span>"
                        + "</div>"
                        + "</div>"
                        + "</td>"
                        + "<input type=\"hidden\" name=\"id\" id=\"id\" value=\"{{ skill.task_skill_id }}\">"
                        + "<input type=\"hidden\" name=\"name\" id=\"name\" value=\"{{ skill.skill_name }}\">"
                        + "</tr>";

                }

            {% endfor %}

            table_tag += "</tbody>"
                + "</table>";

            hidden_tag = "<input type=\"hidden\" name=\"data\" id=\"data\">";

            modal.find('.modal-content form#skill-upd').attr('action', url_mask);
            modal.find('.modal-body').html(table_tag);
            modal.find('.modal-body').append(hidden_tag);

            $('#skill_table').DataTable({
                "responsive": true,
                "autoWidth": false,
                "lengthMenu": [5, 10, 25, 50, 100],
                "displayLength": 5,
                "ordering": false,
                "columnDefs": [
                    {targets: 0, width: "65%"},
                    {targets: 1, width: "35%"},
                ]
            });

        });

        $('#skill-upd').submit(function () {
            var data = $("#skill_table").DataTable().$('input, select').serialize();
            $('#data').val(data);
        });

        var $children = $('.children');
        var original = $children.html();

        $('.parent').change(function () {

            var val1 = $(this).val();

            $children.html(original).find('option').each(function () {
                var val2 = $(this).data('val'); //data-valの値を取得
                if (val1 != val2) {
                    $(this).not(':first-child').remove();
                }
            });

            if ($(this).val() == "") {
                $children.attr('disabled', 'disabled');
            } else {
                $children.removeAttr('disabled');
            }
        });

    });

</script>

</body>
</html>
